---
import Layout from "../../layouts/Layout.astro";
import ThreeScene from "../../components/ThreeScene.astro";

import { Image } from "astro:assets";

import { getMergedBirdData } from "../../utils/birdDataMerger";
import { getCurrentSeasonAndTime } from "../../utils/timeUtils";

// This function tells Astro that the collection should be built statically
// Something like...
// export const prerender = false;
// Won't work because of this function
export function getStaticPaths() {
  const mergedBirdData = getMergedBirdData();
  return Object.keys(mergedBirdData).map((slug) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const mergedBirdData = getMergedBirdData();
const bird = mergedBirdData[slug];
const { season } = getCurrentSeasonAndTime();

// Handle case where bird doesn't exist
if (!bird) {
  return Astro.redirect("/404"); // TODO build 404 page
}
---

<Layout title={bird.name}>
  <main>
    <ThreeScene imageSlug=`${bird.slug}.jpg` />
    <h1>{bird.name}</h1>
    <p>Scientific Name: {bird.scientificName}</p>
    <p>Habitat: {bird.habitat}</p>
    <p>Description: {bird.description}</p>
    <p>Diet: {bird.diet}</p>
    <p>Current season: {season}</p>
    <p>Active time this season: {bird.seasons[season]?.[0] || "Not active"}</p>

    {
      bird.funFacts && bird.funFacts.length > 0 && (
        <>
          <h2>Fun Facts</h2>
          <ul>
            {bird.funFacts.map((fact) => (
              <li>{fact}</li>
            ))}
          </ul>
        </>
      )
    }
    {
      bird.images && bird.images.length > 0 && (
        <>
          <h2>Images</h2>
          {bird.images.map((image) => (
            <figure>
              <Image
                src={image.url}
                alt={image.caption}
                width="200"
                height="140"
              />
              <figcaption>
                Photo by <a href={image.source}>{image.author}</a>
              </figcaption>
            </figure>
          ))}
        </>
      )
    }
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
